@import '../../styles/main.scss';

.link {
  align-items: center;
  background-color: #292929;
  border-radius: 0.8rem;
  border: 1px solid gray;
  color: white;
  display: flex;
  display: flex;
  flex-direction: column;
  height: 13rem;
  justify-content: center;
  width: 24rem;

  svg {
    height: 3.6rem;
    width: 3.6rem;
  }

  .line {
    background-color: gray;
    display: block;
    height: 0.1rem;
    margin: 1rem 0;
    width: 70%;
  }

  &:hover {
    transform: scale(1.02);
    svg {
      color: lightgreen;
    }
    .paragraph {
      color: lightgreen;
    }
  }
}

.paragraph {
  display: block;
  font-size: 1.2rem;
  text-align: center;
}
