@import "../../scss/vm.scss";
.Projects{
   grid-column: 2/3;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-top: 80px;
}

.h1{
   margin-bottom: 12px;
}
