@import "../../scss/vm.scss";

.Project {
	grid-column: 2/3;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.mainPhoto{
   width: 100%;
   margin-bottom: 14px;
}
.title {
	margin-bottom: 10px;
}

.paragraphBox {
	margin-bottom: 14px;
}
.Slider{
   width: 100%;
}