@import '../../scss/vm.scss';

.Technologies {
	color: white;
	grid-column: 2/3;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.Technologies .technologyList {
	display: flex;
	flex-wrap: wrap;
}
