@import '../../../scss/vm.scss';

// .logo {
//    z-index: 3;
//    cursor: pointer;
//    position: relative;
// }

// .container {
//    position: absolute;
//    top: 20px;
//    left: 0;
//    color: white;
//    background-repeat: no-repeat;
// }
// .logo__image {
//    transition: all 0.5s ease;
//    width: 43px;
//    height: 43px;
//    &:hover{
//       color: red;
//    }
// }
.logo {
	z-index: 3;
	cursor: pointer;
	position: relative;
}

.container {
	left: 0;
	color: white;
	background-repeat: no-repeat;
}

.box {
	width: 30px;
	height: 30px;
	border: 1px solid white;
	position: relative;
	&:hover {
		border: 1px solid green;
		.circle1, .circle2, .circle3 {
			background-color: green;
		}
		.circle1 {
         animation: moveMyLogo1 2s;
		}
		.circle2 {
         animation: moveMyLogo2 3s;
		}
		.circle3 {
         animation: moveMyLogo3 4s;
		}
	}
}
.circle1, .circle2, .circle3 {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	background-color: white;
}

@keyframes moveMyLogo1 {
	0% {
         top:0;
         left: 0;
	}
   50%{
         top:0;
         left: 22px;
         height: 22px;
         width: 22px;
   }
	100% {
         top:22px;
         left: 22px;
	}
}
@keyframes moveMyLogo2 {
	0% {
         top:0;
         left: 0;
	}
   50%{
         top:0;
         left: 22px;
         height: 22px;
         width: 22px;
   }
	100% {
         top:22px;
         left: 22px;
	}
}
@keyframes moveMyLogo3 {
	0% {
         top:0;
         left: 0;
	}
   50%{
         top:0;
         left: 22px;
         height: 22px;
         width: 22px;
   }
	100% {
         top:22px;
         left: 22px;
	}
}
