@import '../../styles/main.scss';

.project {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
}

.photoBox {
  height: 400px;
  position: relative;
  width: 100%;
  margin-bottom: 1.2rem;
}

.image {
  object-fit: contain;
  width: 100%;
}

.header {
  margin: 1.2rem 0;
}

.h2 {
  margin-bottom: 0.3rem;
}

.paragraphBox {
  margin-bottom: 1.4rem;
}

.paragraph {
  margin-bottom: 1.2rem;
}

.Slider {
  width: 100%;
}

.linkBox {
  flex-direction: column;
}

.externalLink {
  background-color: white;
  padding: 7px 1.4rem;
  border-radius: 1rem;
  color: $bgColor;
  display: flex;
  align-items: center;

  &:nth-child(1) {
    margin-bottom: 0;
    margin-right: 1.2rem;
  }
}

.paragraphLink {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.icon {
  margin-left: 0.8rem;
  min-width: 2.2rem;
  min-height: 2.2rem;
}

.externalLinkIcon {
  margin-left: 0.8rem;
  min-width: 2.2rem;
  min-height: 2.2rem;
}

.line {
  width: 100%;
  margin-bottom: 1.2rem;

  hr {
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
  }
}

.homeLinkBox {
  margin-bottom: 3rem;
}

@media (min-width: 800px) {
  .photoBox {
    height: 550px;
  }
}
