@import '../../styles/main.scss';

.hero {
  @include grid;
  align-items: center;
  grid-column: 1/4;
  height: calc(100vh - 210px);
  margin-bottom: 12rem;
  position: relative;

  p {
    font-size: 1.6rem;
  }
}

.box {
  grid-column: 2/3;
  height: 100%;
  z-index: 2;

  &:hover {
    .link {
      color: lightgreen;
    }
  }
}

.paragraph {
  max-width: 70ch;
  width: 100%;
}

.inlineParagraph {
  display: inline;
  margin-bottom: 0;
}

.link {
  color: #fff;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.background {
  background-position: 20% 0%;
  background-size: cover;
  background-image: linear-gradient(
      180deg,
      $bgColor 0%,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0) 60%,
      $bgColor 100%
    ),
    url(../../public/images/HeroImg.jpg);
  height: 100%;
  left: 0;
  opacity: 0.07;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (min-width: 600px) {
  .hero {
    height: calc(100vh - 150px);
  }

  .box {
    max-width: 100%;
  }
}
