@import '../../../scss/vm.scss';

.TechnologyModal{
   padding: 20px;
}
.header {
   border-top-left-radius: 7px;
   border-top-right-radius: 7px;
	width: 100%;
	padding: 1rem 0.5rem;
	color: white;
}