@import '../../styles/main.scss';

.scrollToTop {
  color: white;

  &:hover {
    .icon,
    .paragraph {
      color: lightgreen;
    }

    cursor: pointer;
  }
}

.paragraph {
  font-size: 1.2rem !important;
}

.icon {
  height: 2.5rem;
  width: 2.5rem;
  color: white;
  margin-bottom: 0.6rem;
  margin-right: 0.6rem;
}
