@import '../../styles/main.scss';

.technologyItem {
  width: 90%;
  max-width: 9rem;
  height: 9rem;
  margin-bottom: 1.6rem;
  margin-right: 1rem;
  perspective: 60rem;
  @include noneSelection;

  svg,
  img {
    width: 3rem;
    height: 3rem;
    color: #ddd;
  }

  &:hover {
    cursor: pointer;
  }
}

.container {
  align-items: center;
  background-color: #292929;
  border-radius: 0.8rem;
  border: 1px solid gray;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transition: transform 0.5s;
  width: 100%;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 0.4rem;
}

.front {
  -moz-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.back {
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.title {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-top: 0.8rem;
}

.backTitle {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: lightgreen;
}

.technologyItemChoosen {
  .container {
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

@media (min-width: 1000px) {
  .technologyItem {
    margin-bottom: 1.6rem;
    margin-right: 1.6rem;
    -webkit-perspective: 100rem;
    -moz-perspective: 100rem;
    perspective: 100rem;

    &:hover {
      .container {
        -moz-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
      }
    }
  }
}
