@import '../../../scss/vm.scss';

.navLink,
.navLinkActive {
	text-transform: capitalize;
	@include roboto300;
	color: white;
	font-size: 1.6rem;
	line-height: 75px;
	&:hover {
		color: green;
	}
}
.navLinkActive {
	color: darkgreen;
}
