@import '../../../scss/vm.scss';

.navLink,
.navLinkActive {
   text-transform: capitalize;
   @include roboto300;
   color: white;
   font-size: 1.6rem;
   white-space: nowrap;
   line-height: 80px;

   &:hover {
      color: lightgreen;
   }
}

.navLinkActive {
   color: lightgreen;
}