@import "../../scss/vm.scss";

.navbar {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   opacity: 1;
   z-index: 2;
   background-color: $bgcolor;
}

.container{
   max-width: 900px;
   width: 90%;
   margin: 0 auto;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.links{
   display: flex;
}

.link{
   margin-left: 35px;
}

@media(min-width: 600px) {
   .container {
      width: 80%;
	}
}