@import "../../scss/vm.scss";

.navbar {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   opacity: 1;
   z-index: 3;
   background-color: $bgColor;
}

.container {
   max-width: 1050px;
   width: 86%;
   margin: 0 auto;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.links {
   display: flex;
   justify-content: space-between;
}

.link {
   color: white;
   margin-left: 35px;
}
.btnBox{
   margin-left: 30px;

}
.btn {
   outline: none;
   font-size: 1.2rem;
   background: none;
   color: white;
   @include roboto300;
   padding: 6px 10px;
   border-radius: 4px;
   border-style: none;
   &:hover {
      cursor: pointer;
      color: lightgreen;
   }
}
.active {
   @include roboto500;
   color: green;
}

@media(min-width: 600px) {
   .container {
      width: 80%;
   }
}