@import '../../styles/main.scss';

.contact {
  display: flex;
  flex-wrap: wrap;
  color: white;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 8rem;
}

.contactIconsBox {
  gap: 6rem;
  height: 58rem;
  flex-direction: column !important;
}

@media screen and (min-width: 900px) {
  .contactIconsBox {
    flex-direction: row !important;
    gap: 6rem;
    height: 40rem;
    flex-direction: row;
  }
}
