@import '../../styles/main.scss';

.contact {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-column: 2/3;
  justify-content: center;
  padding-top: 8rem;
}

.contactIconsBox {
  flex-direction: column !important;
  height: 58rem;
  padding-block: 4rem;
}

@media screen and (min-width: 1000px) {
  .contactIconsBox {
    flex-direction: row !important;
    gap: 6rem;
    height: 24rem;
    flex-direction: row;
  }
}
