@import "../../scss/vm.scss";

.Footer, .Footer__fixed {
   grid-column: 1/4;
   text-align: center;
   height: 80px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   background-color: $lightGray;
   z-index: 2;
}
.Footer__fixed {
   position: fixed;
   bottom: 0;
   width: 100%;
}

.Footer__header{
   @include sectionsHeader;
}
