@import '../../scss/vm.scss';

.Footer {
	background-color: $bgGray;
	z-index: 2;
   position: fixed;
   bottom: 0;
   width: 100%;
}
.box{
   margin: 0 auto;
   height: 68px;
   width: 80% !important;
   max-width: 500px !important;
}
