@import '../../../scss/vm.scss';

.TechnologyItem {
	width: 30%;
   max-width: 120px;
	height: 140px;
	border: 1px solid gray;
	border-radius: 8px;
	margin-bottom: 20px;
   margin-right: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #353535;
	position: relative;

	svg {
		width: 40px;
		height: 40px;
		color: #ddd;
	}
   
	&:hover {
		cursor: pointer;
		// .container,
		// .icon,
		// .title,
		// svg {
		// 	color: lightgreen;
		// }
		.backdrop,
		.bottomBackdrop {
         color: lightgreen;
			opacity: 1;
		}
	}
}

.backdrop,
.bottomBackdrop {
	position: absolute;
	background-color: rgba(20, 20, 20, 0.6);
	opacity: 0;
	transition: opacity 0.6s;
   width: 100%;
}
.backdrop {
	top: 0;
	height: 100%;
	background-color: rgba(20, 20, 20, 0.6);
	border-radius: 8px;
	opacity: 0;
}
.bottomBackdrop {
	bottom: 0;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	height: 25px;
	background-color: #353535;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	&:hover {
		cursor: pointer;
	}
}
.icon {
	max-width: 40px;
	max-height: 40px;
}

.title {
	text-align: center;
	margin-top: 10px;
	font-size: $fs4;
}


@media(min-width: 600px){
   .TechnologyItem {
      width: 100px;
      margin: 14px;
   }
}