@import '../../styles/main.scss';

.footerItem {
  display: flex;
  color: white;
  display: flex;
  align-items: center;

  &:hover {
    .paragraph {
      color: lightgreen;
    }
  }
}

.paragraph {
  display: none;
}

@media (min-width: $mediumDevice) {
  .paragraph {
    display: block;
    font-size: 1.2rem;
    margin-left: 0.7rem;
  }
}
