// variables
$bgColor: #242424;
$bgColorGray: #353535;
$placeholder: #777;

$fs1: 22px;
$fs2: 18px;
$fs3: 16px;
$fs4: 12px;
$fsParagraph: 14px;

$mediumDevice: 900px;

// mixins
@mixin roboto300 {
   font-family: 'Roboto Mono', monospace;
   font-weight: 300;
}

@mixin roboto500 {
   font-family: 'Roboto Mono', monospace;
   font-weight: 500;
}

@mixin sectionsHeader {
   font-family: 'Roboto Mono', monospace;
   font-weight: 500;
   font-size: 22px;
}

@mixin sectionBasic {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   grid-column: 2/3;
}

@mixin grid {
   display: grid;
   grid-template-columns: 7% 86% 7%;

   @media (min-width: 600px) {
      display: grid;
      grid-template-columns: 10% 80% 10%;
   }
}

@mixin noneSelection {
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}


// Custom devices ----------------------
@mixin rwd($screen) {
   @media (min-width: $screen+'px') {
      @content;
   }
}

// @include rwd(1400) {
//    margin-bottom: 20px;
//    margin-top: 20px;
// }

// Medium devices ----------------------
@mixin mediumMedia {
   @media (min-width: #{$mediumDevice}) {
      @content;
   }
}

// @include medium {
//    margin-left: 10px;
// }