@mixin roboto300 {
  font-weight: 300;
}

@mixin roboto500 {
  font-weight: 500;
}

@mixin sectionsHeader {
  font-size: 2.2rem;
  font-weight: 500;
}

@mixin sectionBasic {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  justify-content: center;
}

@mixin grid {
  display: grid;
  grid-template-columns: 7% 86% 7%;

  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: 10% 80% 10%;
  }
}

@mixin contentHeight {
  min-height: calc(100vh - 80px - 68px);

  @media (min-width: 900px) {
    min-height: calc(100vh - 80px - 212px);
  }
}

@mixin noneSelection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
