@import '../../styles/main.scss';

.aboutSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  justify-content: flex-start;
  min-height: calc(100vh - 80px - 169px);
}

.introductionBox {
  margin-bottom: 2rem;
}

.paragraph {
  margin-bottom: 1.4rem;
}

.experienceBox {
  margin-bottom: 2rem;
  position: relative;
}

.h1,
.h2 {
  margin-bottom: 1.2rem;
}

.mainParagraph {
  margin-bottom: 1rem;
}

.timelineExperience {
  background-color: #fff;
  height: calc(100% - 20rem);
  left: 0.8rem;
  position: absolute;
  top: 8rem;
  width: 0.1rem;
}

.timelineExperience {
  height: calc(100% - 16rem);
}
