@import '../../styles/main.scss';

.aboutSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  justify-content: flex-start;
  min-height: calc(100vh - 80px - 169px);
  gap: 3rem;
}

.paragraph {
  margin-bottom: 1.4rem;
}

.experienceBox {
  position: relative;
}

.header {
  margin-bottom: 1.2rem;
}

.timelineExperience {
  background-color: #fff;
  left: 0.8rem;
  position: absolute;
  top: 8rem;
  width: 0.1rem;
  height: calc(100% - 16rem);
}

.whatCanIOfferListItem {
  margin-bottom: 0.4rem;
  &::first-letter {
    font-size: 2rem;
  }
}

.homeLinkBox {
  margin-bottom: 3rem;
}
