.homeLink {
   color: white;
   font-size: 15px;
   margin: 14px 0 28px;
   display: flex;
   align-items: center;
   
   svg {
      margin-right: 8px;
      min-width: 20px;
      min-height: 20px;
   }
   
   &:hover {
      color: lightgreen;
   }
}