@import "../../scss/vm.scss";

.CardOverlay,
.info,
.overlay {
	position: absolute;
	right: 0;
	top: 0;
}
.CardOverlay {
	height: 100%;
	width: 100px;
}

.info {
	z-index: 1;
	height: 34px;
	width: 34px;
	border-radius: 50%;
	background-color: $bgColor;
	border: 1px solid #eee;
	transition: all 0.3s;

	&::after {
		content: "i";
		color: #fff;
		position: absolute;
		top: 6px;
		right: 12px;
		font-size: 16px;
		@include roboto500;
	}
}

.overlay {
	width: 400px;
	height: 100%;
	padding: 10px 16px;
	opacity: 0;
	transition: all 0.3s;
	z-index: 0;
}

.paragraph {
	font-size: 15px;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
	opacity: 0;
	z-index: 1;
	color: white !important;
}

.bold {
	font-size: 16px;
	margin-bottom: 4px;
}

.line {
	opacity: 0;
	width: 100%;
	margin-top: 12px;
	margin-bottom: 12px;

	hr {
		height: 1px;
		background-color: rgba(255, 255, 255, 0.7);
		border: none;
	}
}

.iconsContainer {
	opacity: 0;
	margin-top: 4px;

	svg {
		height: 30px;
		width: 30px;
		margin-right: 8px;
		margin-bottom: 10px;
		color: #eee;
	}
}

// isVisible -------------------

.infoVisible {
	height: 100%;
	width: 400px;
	border-radius: 18px;
	border: 1px solid gray;
	background-color: $bgColorGray;

	&::after {
		content: "";
	}
}

.overlayVisible {
	opacity: 1;
	z-index: 1;

	.line {
		opacity: 1;
	}

	.paragraph {
		opacity: 1;
	}

	.iconsContainer {
		opacity: 1;
	}
}
