@import "../../scss/vm.scss";

.CardHeader {
   margin-bottom: 20px;
   position: relative;
   padding-left: 35px;
}
.container{
   // width: 330px;
   
}
.card {
   display: inline-block;
   width: auto;
   background-color: #fff;
   border-radius: 8px;
   margin-bottom: 12px;
   padding: 2px 12px;
   color: $bgColor;
   &:hover {
      cursor: pointer;
   }
}
.line {
   width: auto;
   height: 1px;
   background-color: $bgColor;
   margin: 5px 0;
}
.dot1 {
   position: absolute;
   width: 18px;
   height: 18px;
   border-radius: 50%;
   background-color: #fff;
   left: 5px;
   top: 28px;
   z-index: 2;
}
.dot2 {
   position: absolute;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: #fff;
   left: 9px;
   top: 32px;
   border: 3px solid $bgColor;
   z-index: 2;
}
.lastElement {
   position: absolute;
   top: 32px;
   height: 100px;
   width: 20px;
   left: 4px;
   background-color: $bgColor;
}
