@import '../../scss/vm.scss';

.ExternalLink {
   color: white;
   font-size: 1.4rem;
   display: flex;
   align-items: center;
   padding: 3px;
	&:hover {
		cursor: pointer;
		color: lightgreen;
      svg {
         color: lightgreen;
      }
   }
   
   svg {
      width: 16px;
      height: 16px;
      color: gray;
      margin-right: 6px;
   }
}
