.H2 h2{
   font-family: 'Roboto Mono', monospace;
   font-weight: 500;
   display: block;
   font-size: 1.8rem;
   line-height: 2.7rem;
   margin-top: 7px;
   margin-bottom: 7px;
}

.hoverActive{
   &:hover{
      color: lightgreen;
   }
}