@import '../../scss/vm.scss';

.Modal {
	z-index: 100;
	position: fixed;
	top: 15vh;
   height: 70vh;
	left: 5vw;
   width: 90vw;
	background: white;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
   border-radius: 8px;
   border-radius: 8px;
   background-color: #353535;
}

@media (min-width: 600px){
   .Modal {
      left: calc(50% - 250px);
      width: 500px;
   }
}