@import "../../scss/vm.scss";

.TextAreaLabel{
   font-size: 14px;
}

.textArea{
	font-size: 1.3rem;
	margin-top: 6px;
	&::placeholder {
		font-size: 1.2rem;
		color: $placeholder;
	}

   resize: none;
   background: none;
	color: white;
	border: none;
	border-bottom: 1px solid lightgray;
	@include roboto300;
	outline: none;

	&:focus {
		border-bottom: 1px solid lightgreen;
	}
}